<project level_dir="F:\code\EG\KC\exe\assets\levels\level\rm_entrypoint">
	<control _name="inv_complex_gustavdiary" pos_x="168" pos_y="-713" />
	<control _name="inv_complex_roundframe" pos_x="168" pos_y="-588" />
	<control _name="inv_complex_crossbow" pos_x="168" pos_y="-463" />
	<control _name="inv_complex_equipment" pos_x="168" pos_y="-338" />
	<control _name="inv_complex_2encryptedjournal" pos_x="168" pos_y="-213" />
	<control _name="inv_complex_2brokennippers" pos_x="168" pos_y="-88" />
	<control _name="inv_complex_2sleepingpowderrecipe" pos_x="168" pos_y="37" />
	<control _name="inv_complex_2ashtwig" pos_x="168" pos_y="162" />
	<control _name="inv_complex_2spindle" pos_x="168" pos_y="287" />
	<control _name="inv_complex_cryptex" pos_x="168" pos_y="412" />
	<control _name="inv_complex_1shaft" pos_x="168" pos_y="537" />
	<control _name="inv_complex_lucysbag" pos_x="168" pos_y="662" />
	<control _name="inv_complex_1sealedorder" pos_x="168" pos_y="787" />
	<control _name="inv_complex_1guardslist" pos_x="168" pos_y="912" />
	<control _name="zz_window" pos_x="818" pos_y="-638" />
	<control _name="zz_desk" pos_x="1343" pos_y="-638" />
	<control _name="zz_armslocker" pos_x="993" pos_y="-638" />
	<control _name="zz_armorrack" pos_x="1168" pos_y="-638" />
	<control _name="rm_entrypoint" pos_x="468" pos_y="-638" />
	<control _name="rm_outro" pos_x="168" pos_y="-638" />
	<control _name="ho_1personalstuff" pos_x="643" pos_y="-638" />
	<control _name="zz_merchantsstore" pos_x="993" pos_y="-463" />
	<control _name="zz_foundersfountain" pos_x="1168" pos_y="-463" />
	<control _name="zz_forge" pos_x="1343" pos_y="-463" />
	<control _name="zz_bulletinboard" pos_x="1518" pos_y="-463" />
	<control _name="rm_1townsquare" pos_x="468" pos_y="-463" />
	<control _name="mg_1mosaic" pos_x="818" pos_y="-463" />
	<control _name="zz_scarecrow" pos_x="818" pos_y="-288" />
	<control _name="zz_mailbox" pos_x="993" pos_y="-288" />
	<control _name="zz_bench" pos_x="1168" pos_y="-288" />
	<control _name="zz_carriage" pos_x="1343" pos_y="-288" />
	<control _name="rm_1forestedge" pos_x="468" pos_y="-288" />
	<control _name="ho_1jewelry" pos_x="643" pos_y="-288" />
	<control _name="mg_1potion" pos_x="643" pos_y="-463" />
	<control _name="zz_pit" pos_x="818" pos_y="-113" />
	<control _name="zz_pier" pos_x="993" pos_y="-113" />
	<control _name="zz_tree" pos_x="1168" pos_y="-113" />
	<control _name="zz_watchtower" pos_x="1343" pos_y="-113" />
	<control _name="rm_1lake" pos_x="468" pos_y="-113" />
	<control _name="ho_1hollow" pos_x="643" pos_y="-113" />
	<control _name="zz_oldchest" pos_x="818" pos_y="62" />
	<control _name="zz_well" pos_x="993" pos_y="62" />
	<control _name="zz_debris" pos_x="1168" pos_y="62" />
	<control _name="rm_1ruins" pos_x="468" pos_y="62" />
	<control _name="zz_brokencart" pos_x="643" pos_y="237" />
	<control _name="zz_scatteredthings" pos_x="818" pos_y="237" />
	<control _name="zz_destroyedstatue" pos_x="993" pos_y="237" />
	<control _name="zz_blacksmith" pos_x="1168" pos_y="237" />
	<control _name="rm_1forestdepths" pos_x="468" pos_y="237" />
	<control _name="mg_1way" pos_x="643" pos_y="62" />
	<control _name="zz_coveredcart" pos_x="818" pos_y="412" />
	<control _name="zz_horse" pos_x="993" pos_y="412" />
	<control _name="zz_gazebo" pos_x="1168" pos_y="412" />
	<control _name="zz_chests" pos_x="1343" pos_y="412" />
	<control _name="rm_2westernhighroad" pos_x="468" pos_y="412" />
	<control _name="ho_2conspiratorsstuff" pos_x="643" pos_y="412" />
	<control _name="zz_mill" pos_x="818" pos_y="587" />
	<control _name="zz_carpentersworkshop" pos_x="993" pos_y="587" />
	<control _name="zz_riverbank" pos_x="1168" pos_y="587" />
	<control _name="rm_2westcatvillage" pos_x="468" pos_y="587" />
	<control _name="mg_2shutters" pos_x="643" pos_y="587" />
	<control _name="zz_workingcabinet" pos_x="993" pos_y="762" />
	<control _name="zz_tailorsdesk" pos_x="1168" pos_y="762" />
	<control _name="zz_spinningwheel" pos_x="1343" pos_y="762" />
	<control _name="zz_fireplace" pos_x="1518" pos_y="762" />
	<control _name="rm_2paulshouse" pos_x="643" pos_y="762" />
	<control _name="ho_2paulsstory" pos_x="818" pos_y="762" />
	<control _name="zz_campplace" pos_x="818" pos_y="937" />
	<control _name="zz_tent" pos_x="993" pos_y="937" />
	<control _name="zz_ancientwheel" pos_x="1168" pos_y="937" />
	<control _name="rm_2island" pos_x="468" pos_y="937" />
	<control _name="mg_2celestialbodies" pos_x="643" pos_y="937" />
	<control _name="zz_hugeskeleton" pos_x="993" pos_y="1112" />
	<control _name="zz_crystalstatue" pos_x="1168" pos_y="1112" />
	<control _name="zz_largechest" pos_x="1343" pos_y="1112" />
	<control _name="zz_runepillar" pos_x="1518" pos_y="1112" />
	<control _name="rm_2ancientgrotto" pos_x="643" pos_y="1112" />
	<control _name="ho_2piratestreasure" pos_x="818" pos_y="1112" />
	<control _name="zz_picture" pos_x="993" pos_y="1287" />
	<control _name="zz_globetable" pos_x="1168" pos_y="1287" />
	<control _name="zz_wallcabinet" pos_x="1343" pos_y="1287" />
	<control _name="rm_2secrethideout" pos_x="643" pos_y="1287" />
	<control _name="mg_2islands" pos_x="818" pos_y="1287" />
	<control _name="zz_alchemistsshop" pos_x="818" pos_y="1462" />
	<control _name="zz_streettavern" pos_x="993" pos_y="1462" />
	<control _name="zz_checkpoint" pos_x="1168" pos_y="1462" />
	<control _name="rm_3fishvilleport" pos_x="468" pos_y="1462" />
	<control _name="mg_3latestnews" pos_x="643" pos_y="1462" />
	<control _name="zz_mayorsbust" pos_x="990" pos_y="1619" />
	<control _name="zz_honorscorner" pos_x="1165" pos_y="1619" />
	<control _name="zz_clerksdesk" pos_x="1340" pos_y="1619" />
	<control _name="zz_basrelief" pos_x="1515" pos_y="1619" />
	<control _name="rm_3mayorsoffice" pos_x="640" pos_y="1619" />
	<control _name="mg_3ingredientmixing" pos_x="815" pos_y="1619" />
	<control _name="zz_flowerbed" pos_x="818" pos_y="1812" />
	<control _name="zz_exhibitionoffamousfigures" pos_x="993" pos_y="1812" />
	<control _name="zz_chapel" pos_x="1168" pos_y="1812" />
	<control _name="rm_3uppertown" pos_x="468" pos_y="1812" />
	<control _name="ho_3townsecrets" pos_x="643" pos_y="1812" />
	<control _name="zz_scalesofjustice" pos_x="993" pos_y="1987" />
	<control _name="zz_couch" pos_x="1168" pos_y="1987" />
	<control _name="zz_safe" pos_x="1343" pos_y="1987" />
	<control _name="zz_umbrellastand" pos_x="1518" pos_y="1987" />
	<control _name="rm_3governorsreception" pos_x="643" pos_y="1987" />
	<control _name="ho_3balanceofpower" pos_x="818" pos_y="1987" />
	<control _name="zz_clavichord" pos_x="818" pos_y="2162" />
	<control _name="zz_guardsstash" pos_x="993" pos_y="2162" />
	<control _name="zz_unusualcanvas" pos_x="1168" pos_y="2162" />
	<control _name="rm_3gustavshouse" pos_x="468" pos_y="2162" />
	<control _name="ho_3guardshonor" pos_x="643" pos_y="2162" />
	<control _name="zz_niche" pos_x="818" pos_y="2337" />
	<control _name="zz_chesstable" pos_x="993" pos_y="2337" />
	<control _name="zz_catstownmodel" pos_x="1168" pos_y="2337" />
	<control _name="rm_3roomsecret" pos_x="468" pos_y="2337" />
	<control _name="mg_3battleofvictors" pos_x="643" pos_y="2337" />
</project>
<project level_dir="F:\code\EG\KC\exe\assets\levels\levelext\rm_entrypointext">
	<control _name="inv_complex_fishingrodext" pos_x="162" pos_y="203" />
	<control _name="inv_complex_staffbaseext" pos_x="162" pos_y="328" />
	<control _name="inv_complex_handleext" pos_x="162" pos_y="453" />
	<control _name="inv_complex_rustypartext" pos_x="162" pos_y="578" />
	<control _name="inv_complex_bridleext" pos_x="162" pos_y="703" />
	<control _name="inv_complex_mortarext" pos_x="162" pos_y="828" />
	<control _name="inv_complex_lockpickcaseext" pos_x="162" pos_y="953" />
	<control _name="inv_complex_bowext" pos_x="162" pos_y="1078" />
	<control _name="inv_complex_hikingkitext" pos_x="162" pos_y="1203" />
	<control _name="zz_personalthingsext" pos_x="856" pos_y="278" />
	<control _name="zz_regaliacabinetext" pos_x="1029" pos_y="279" />
	<control _name="zz_mayordeskext" pos_x="1196" pos_y="280" />
	<control _name="zz_alliesmapext" pos_x="1343" pos_y="282" />
	<control _name="rm_entrypointext" pos_x="462" pos_y="278" />
	<control _name="ho_diplomaticrelationshipext" pos_x="637" pos_y="278" />
	<control _name="zz_foxstuffext" pos_x="812" pos_y="453" />
	<control _name="zz_craftswomansafeext" pos_x="941" pos_y="451" />
	<control _name="zz_mailratsext" pos_x="1129" pos_y="451" />
	<control _name="rm_valerieworkshopext" pos_x="462" pos_y="453" />
	<control _name="zz_horsefaceext" pos_x="835" pos_y="623" />
	<control _name="zz_drytreeext" pos_x="975" pos_y="623" />
	<control _name="zz_foxcartext" pos_x="1105" pos_y="624" />
	<control _name="zz_foxdeskext" pos_x="1251" pos_y="624" />
	<control _name="zz_saddlebagsext" pos_x="1395" pos_y="624" />
	<control _name="rm_forestdepthsext" pos_x="475" pos_y="624" />
	<control _name="zz_lootext" pos_x="893" pos_y="805" />
	<control _name="zz_cagefloorext" pos_x="1018" pos_y="806" />
	<control _name="zz_cageext" pos_x="1161" pos_y="807" />
	<control _name="zz_guardsbelongingsext" pos_x="1294" pos_y="806" />
	<control _name="rm_prisonerstentext" pos_x="617" pos_y="805" />
	<control _name="ho_valerieext" pos_x="777" pos_y="805" />
	<control _name="ho_valerieext" pos_x="237" pos_y="353" />
	<control _name="ho_valerieext" pos_x="237" pos_y="353" />
	<control _name="zz_ancientskeletonext" pos_x="959" pos_y="972" />
	<control _name="zz_foxpostext" pos_x="1142" pos_y="973" />
	<control _name="zz_alvinext" pos_x="1279" pos_y="972" />
	<control _name="rm_forestruinsext" pos_x="617" pos_y="973" />
	<control _name="ho_lootedstorageext" pos_x="783" pos_y="972" />
	<control _name="mg_chaseext" pos_x="656" pos_y="452" />
	<control _name="mg_arrangewithhorseext" pos_x="641" pos_y="624" />
	<control _name="zz_horsemaneext" pos_x="827" pos_y="1106" />
	<control _name="zz_valeriesmedallionext" pos_x="975" pos_y="1106" />
	<control _name="zz_kidnappersbagext" pos_x="1166" pos_y="1106" />
	<control _name="zz_boxext" pos_x="1338" pos_y="1104" />
	<control _name="rm_onhorseext" pos_x="477" pos_y="1106" />
	<control _name="ho_protectionartifactext" pos_x="634" pos_y="1106" />
	<control _name="zz_hollowext" pos_x="807" pos_y="1248" />
	<control _name="zz_monumentext" pos_x="926" pos_y="1249" />
	<control _name="zz_guardianstatueext" pos_x="1071" pos_y="1249" />
	<control _name="rm_outsidestorageext" pos_x="447" pos_y="1248" />
	<control _name="zz_windowext" pos_x="866" pos_y="1420" />
	<control _name="zz_centuryoldmechanismext" pos_x="997" pos_y="1421" />
	<control _name="zz_floorholeext" pos_x="1214" pos_y="1422" />
	<control _name="rm_storageext" pos_x="480" pos_y="1421" />
	<control _name="mg_resistanceext" pos_x="662" pos_y="1247" />
	<control _name="mg_townmagicalprotectionext" pos_x="639" pos_y="1421" />
</project>
