<project level_dir="D:\work\CS11\exe\assets\levels\level\rm_entrypoint">
	<control _name="inv_complex_lostbox1" pos_x="50" pos_y="600" />
	<control _name="inv_complex_brokenremotecontrol1" pos_x="50" pos_y="475" />
	<control _name="inv_complex_brokensnowman1" pos_x="50" pos_y="350" />
	<control _name="inv_complex_musicbox1" pos_x="50" pos_y="225" />
	<control _name="inv_complex_taxishape1" pos_x="50" pos_y="100" />
	<control _name="zz_dashboard1" pos_x="875" pos_y="175" />
	<control _name="zz_sunscreen1" pos_x="700" pos_y="175" />
	<control _name="zz_gripsack1" pos_x="525" pos_y="175" />
	<control _name="rm_entrypoint" pos_x="350" pos_y="175" />
	<control _name="rm_outro" pos_x="54" pos_y="291" />
	<control _name="ho_nicksstuff1" pos_x="1050" pos_y="175" />
	<control _name="zz_showcase1" pos_x="1225" pos_y="350" />
	<control _name="zz_lamppost1" pos_x="1050" pos_y="350" />
	<control _name="zz_decoratedchristmastree1" pos_x="875" pos_y="350" />
	<control _name="zz_childrenstown1" pos_x="700" pos_y="350" />
	<control _name="zz_forgedgates1" pos_x="525" pos_y="350" />
	<control _name="rm_toystoreyard1" pos_x="350" pos_y="350" />
	<control _name="zz_mailbox1" pos_x="1225" pos_y="525" />
	<control _name="zz_tiretracks1" pos_x="875" pos_y="525" />
	<control _name="zz_snowdrift1" pos_x="700" pos_y="525" />
	<control _name="rm_warehousedeadend1" pos_x="525" pos_y="525" />
	<control _name="mg_hotwater1" pos_x="1050" pos_y="525" />
	<control _name="zz_lockeddoor1" pos_x="1211" pos_y="687" />
	<control _name="zz_frozenrug1" pos_x="1036" pos_y="687" />
	<control _name="zz_toycar1" pos_x="686" pos_y="687" />
	<control _name="zz_draingrating1" pos_x="511" pos_y="687" />
	<control _name="rm_mainstreet1" pos_x="336" pos_y="687" />
	<control _name="zz_zzroute14" pos_x="582" pos_y="577" />
	<control _name="zz_zzroute13" pos_x="609" pos_y="719" />
	<control _name="zz_zzroute12" pos_x="596" pos_y="674" />
	<control _name="zz_zzroute11" pos_x="614" pos_y="631" />
	<control _name="ho_route1" pos_x="948" pos_y="668" />
	<control _name="zz_stopsign1" pos_x="1050" pos_y="875" />
	<control _name="zz_saltbox1" pos_x="875" pos_y="875" />
	<control _name="zz_carbodydoor1" pos_x="700" pos_y="875" />
	<control _name="rm_busstop1" pos_x="525" pos_y="875" />
	<control _name="zz_shelveswithgoods1" pos_x="1050" pos_y="1050" />
	<control _name="zz_oldcashregister1" pos_x="875" pos_y="1050" />
	<control _name="zz_lightboard1" pos_x="700" pos_y="1050" />
	<control _name="zz_storewindowsill1" pos_x="525" pos_y="1050" />
	<control _name="rm_autopartsstore1" pos_x="350" pos_y="1050" />
	<control _name="mg_repaircar1" pos_x="1225" pos_y="875" />
	<control _name="ho_toys1" pos_x="1400" pos_y="875" />
	<control _name="mg_lighting1" pos_x="1225" pos_y="1050" />
</project>
<project level_dir="D:\work\SI2\exe\assets\levels\levelext\rm_entrypointext">
	<control _name="inv_complex_dollext" pos_x="466" pos_y="921" />
	<control _name="inv_complex_brokendrillext" pos_x="466" pos_y="796" />
	<control _name="inv_complex_brokenladderext" pos_x="466" pos_y="671" />
	<control _name="inv_complex_brokenjackext" pos_x="466" pos_y="546" />
	<control _name="inv_complex_lampext" pos_x="466" pos_y="421" />
	<control _name="inv_complex_brokenpassext" pos_x="466" pos_y="296" />
	<control _name="inv_complex_brokennippersext" pos_x="466" pos_y="171" />
	<control _name="zz_malext" pos_x="1029" pos_y="248" />
	<control _name="rm_entrypointext" pos_x="766" pos_y="246" />
	<control _name="zz_latticeext" pos_x="1467" pos_y="458" />
	<control _name="zz_trolleyext" pos_x="1289" pos_y="432" />
	<control _name="zz_librarydoorext" pos_x="1110" pos_y="395" />
	<control _name="zz_cellsext" pos_x="950" pos_y="455" />
	<control _name="rm_collegeext" pos_x="767" pos_y="458" />
	<control _name="ho_goldwinsext" pos_x="1642" pos_y="458" />
	<control _name="zz_lanternext" pos_x="1641" pos_y="596" />
	<control _name="zz_ventilationext" pos_x="1466" pos_y="596" />
	<control _name="zz_photoboothext" pos_x="1291" pos_y="596" />
	<control _name="zz_flowerbedext" pos_x="1116" pos_y="596" />
	<control _name="rm_roofext" pos_x="941" pos_y="596" />
	<control _name="mg_reverseext" pos_x="1816" pos_y="596" />
	<control _name="zz_upperrackext" pos_x="1466" pos_y="771" />
	<control _name="zz_basementdoorext" pos_x="1291" pos_y="771" />
	<control _name="zz_readingtableext" pos_x="1116" pos_y="771" />
	<control _name="zz_readerext" pos_x="941" pos_y="771" />
	<control _name="rm_libraryext" pos_x="766" pos_y="771" />
	<control _name="ho_chronicleext" pos_x="1641" pos_y="771" />
	<control _name="zz_boxesext" pos_x="1466" pos_y="946" />
	<control _name="zz_bicycleext" pos_x="1291" pos_y="946" />
	<control _name="zz_dumbwaiterext" pos_x="1116" pos_y="946" />
	<control _name="zz_liftcontrolext" pos_x="941" pos_y="946" />
	<control _name="rm_basementext" pos_x="766" pos_y="946" />
	<control _name="zz_shopdoorext" pos_x="1641" pos_y="1121" />
	<control _name="zz_kioskext" pos_x="1291" pos_y="1121" />
	<control _name="zz_generatorext" pos_x="1116" pos_y="1121" />
	<control _name="zz_retromobileext" pos_x="941" pos_y="1121" />
	<control _name="rm_oldstreetext" pos_x="766" pos_y="1121" />
	<control _name="zz_lockersext" pos_x="1466" pos_y="1296" />
	<control _name="zz_boardext" pos_x="1291" pos_y="1296" />
	<control _name="zz_sewingmachineext" pos_x="1116" pos_y="1296" />
	<control _name="rm_sewingworkshopext" pos_x="941" pos_y="1296" />
	<control _name="ho_toysext" pos_x="1466" pos_y="1121" />
	<control _name="zz_officedoorext" pos_x="1466" pos_y="1471" />
	<control _name="zz_wallphoneext" pos_x="1291" pos_y="1471" />
	<control _name="zz_televisionext" pos_x="1116" pos_y="1471" />
	<control _name="zz_showcaseext" pos_x="941" pos_y="1471" />
	<control _name="rm_jewelryshopext" pos_x="766" pos_y="1471" />
	<control _name="zz_massivedoorext" pos_x="1466" pos_y="1646" />
	<control _name="zz_wardrobeext" pos_x="1291" pos_y="1646" />
	<control _name="zz_desktopext" pos_x="1116" pos_y="1646" />
	<control _name="zz_nightstandext" pos_x="941" pos_y="1646" />
	<control _name="rm_ownersofficeext" pos_x="766" pos_y="1646" />
	<control _name="ho_treasuresext" pos_x="1641" pos_y="1471" />
	<control _name="zz_taperecorderext" pos_x="1291" pos_y="1821" />
	<control _name="zz_shadowtheaterext" pos_x="1116" pos_y="1821" />
	<control _name="zz_fortunetellerext" pos_x="941" pos_y="1821" />
	<control _name="rm_archiveext" pos_x="766" pos_y="1821" />
	<control _name="mg_catacombsext" pos_x="1667" pos_y="946" />
	<control _name="zz_catacombsext1" pos_x="1855" pos_y="888" />
	<control _name="zz_catacombsext2" pos_x="1891" pos_y="955" />
	<control _name="zz_catacombsext3" pos_x="1873" pos_y="1022" />
	<control _name="mg_predictionext" pos_x="1466" pos_y="1821" />
	<control _name="mg_silentmovieext" pos_x="1816" pos_y="1471" />
</project>
<project level_dir="D:\Work\SI2\exe\assets\levels\level\rm_entrypoint">
	<control _name="inv_complex_acidrecipe" pos_x="126" pos_y="474" />
	<control _name="inv_complex_brokenburner" pos_x="126" pos_y="349" />
	<control _name="inv_complex_brokenpalette" pos_x="126" pos_y="224" />
	<control _name="inv_complex_whitmanbriefcase" pos_x="126" pos_y="99" />
	<control _name="inv_complex_brokenkeychain" pos_x="126" pos_y="-26" />
	<control _name="inv_complex_brokenlighter" pos_x="126" pos_y="-1651" />
	<control _name="inv_complex_reflector" pos_x="126" pos_y="-1526" />
	<control _name="inv_complex_mattbag" pos_x="126" pos_y="-1401" />
	<control _name="inv_complex_battery" pos_x="126" pos_y="-1276" />
	<control _name="inv_complex_brokenfirstaidkit" pos_x="126" pos_y="-1151" />
	<control _name="inv_complex_notepad" pos_x="126" pos_y="-1026" />
	<control _name="inv_complex_ballon" pos_x="126" pos_y="-901" />
	<control _name="inv_complex_twine" pos_x="126" pos_y="-776" />
	<control _name="inv_complex_brokensalpel" pos_x="126" pos_y="-651" />
	<control _name="inv_complex_warmer" pos_x="126" pos_y="-526" />
	<control _name="inv_complex_oldsolderingiron" pos_x="126" pos_y="-401" />
	<control _name="inv_complex_halfphoto" pos_x="126" pos_y="-276" />
	<control _name="inv_complex_brokenswitch" pos_x="126" pos_y="-151" />
	<control _name="zz_fan" pos_x="601" pos_y="-1576" />
	<control _name="zz_evidence" pos_x="776" pos_y="-1576" />
	<control _name="zz_armchair" pos_x="951" pos_y="-1576" />
	<control _name="zz_danastable" pos_x="1126" pos_y="-1576" />
	<control _name="rm_entrypoint" pos_x="426" pos_y="-1576" />
	<control _name="rm_outro" pos_x="468" pos_y="-3390" />
	<control _name="zz_coffeetable" pos_x="951" pos_y="-1401" />
	<control _name="zz_wardrobe" pos_x="1126" pos_y="-1401" />
	<control _name="zz_shelf" pos_x="1301" pos_y="-1401" />
	<control _name="zz_television" pos_x="1476" pos_y="-1401" />
	<control _name="rm_robertapartment" pos_x="426" pos_y="-1401" />
	<control _name="ho_deduction" pos_x="776" pos_y="-1401" />
	<control _name="zz_window" pos_x="776" pos_y="-1226" />
	<control _name="zz_mannequin" pos_x="951" pos_y="-1226" />
	<control _name="zz_robertstable" pos_x="1126" pos_y="-1226" />
	<control _name="rm_chamberofsecrets" pos_x="426" pos_y="-1226" />
	<control _name="ho_investigation" pos_x="601" pos_y="-1226" />
	<control _name="zz_vendingmachine" pos_x="951" pos_y="-1051" />
	<control _name="zz_ventilation" pos_x="1126" pos_y="-1051" />
	<control _name="zz_reception" pos_x="1301" pos_y="-1051" />
	<control _name="rm_clinic" pos_x="426" pos_y="-1051" />
	<control _name="zz_telephone" pos_x="776" pos_y="-1051" />
	<control _name="mg_patients" pos_x="601" pos_y="-1051" />
	<control _name="zz_kiosk" pos_x="776" pos_y="-876" />
	<control _name="zz_bench" pos_x="951" pos_y="-876" />
	<control _name="zz_streetlight" pos_x="1126" pos_y="-876" />
	<control _name="zz_intercom" pos_x="1301" pos_y="-876" />
	<control _name="rm_citystreet" pos_x="426" pos_y="-876" />
	<control _name="zz_mailboxes" pos_x="776" pos_y="-701" />
	<control _name="zz_piping" pos_x="951" pos_y="-701" />
	<control _name="zz_elevator" pos_x="1126" pos_y="-701" />
	<control _name="zz_storeroom" pos_x="1301" pos_y="-701" />
	<control _name="rm_hall" pos_x="426" pos_y="-701" />
	<control _name="ho_disorder" pos_x="601" pos_y="-701" />
	<control _name="mg_electrician" pos_x="601" pos_y="-876" />
	<control _name="mg_videogame" pos_x="601" pos_y="-1401" />
	<control _name="zz_writingdesk" pos_x="776" pos_y="-526" />
	<control _name="zz_warrior" pos_x="951" pos_y="-526" />
	<control _name="zz_seasonings" pos_x="1126" pos_y="-526" />
	<control _name="zz_mattwindow" pos_x="1301" pos_y="-526" />
	<control _name="rm_mattapartment" pos_x="426" pos_y="-526" />
	<control _name="zz_shop" pos_x="601" pos_y="-351" />
	<control _name="zz_poster" pos_x="776" pos_y="-351" />
	<control _name="zz_gate" pos_x="951" pos_y="-351" />
	<control _name="rm_lane" pos_x="426" pos_y="-351" />
	<control _name="mg_go" pos_x="601" pos_y="-526" />
	<control _name="zz_site" pos_x="776" pos_y="-176" />
	<control _name="zz_trolley" pos_x="951" pos_y="-176" />
	<control _name="zz_door" pos_x="1126" pos_y="-176" />
	<control _name="zz_fountain" pos_x="1301" pos_y="-176" />
	<control _name="rm_nearoffice" pos_x="426" pos_y="-176" />
	<control _name="ho_drain" pos_x="601" pos_y="-176" />
	<control _name="zz_safe" pos_x="951" pos_y="174" />
	<control _name="zz_malcolmzz" pos_x="1126" pos_y="174" />
	<control _name="zz_maltable" pos_x="1301" pos_y="174" />
	<control _name="zz_cabinet" pos_x="1476" pos_y="174" />
	<control _name="rm_office" pos_x="426" pos_y="174" />
	<control _name="mg_safemg" pos_x="776" pos_y="174" />
	<control _name="ho_firstaid" pos_x="601" pos_y="174" />
	<control _name="zz_shaft" pos_x="1126" pos_y="-1" />
	<control _name="zz_bush" pos_x="1301" pos_y="-1" />
	<control _name="zz_drinkfountain" pos_x="1476" pos_y="-1" />
	<control _name="rm_roof" pos_x="601" pos_y="-1" />
	<control _name="mg_battledress" pos_x="951" pos_y="-1" />
	<control _name="ho_fight" pos_x="776" pos_y="-1" />
	<control _name="zz_car" pos_x="1126" pos_y="349" />
	<control _name="zz_ladder" pos_x="951" pos_y="349" />
	<control _name="zz_fence" pos_x="776" pos_y="349" />
	<control _name="zz_hydrant" pos_x="631" pos_y="349" />
	<control _name="rm_nearofficeafter" pos_x="426" pos_y="349" />
	<control _name="ho_trunk" pos_x="1301" pos_y="349" />
	<control _name="zz_pedestal" pos_x="1126" pos_y="524" />
	<control _name="zz_mailbox" pos_x="951" pos_y="524" />
	<control _name="zz_clinicdoor" pos_x="776" pos_y="524" />
	<control _name="zz_bushes" pos_x="601" pos_y="524" />
	<control _name="rm_clinicentrance" pos_x="426" pos_y="524" />
	<control _name="mg_rorschach" pos_x="1301" pos_y="524" />
	<control _name="zz_sofa" pos_x="1126" pos_y="699" />
	<control _name="zz_receptiontable" pos_x="951" pos_y="699" />
	<control _name="zz_registry" pos_x="776" pos_y="699" />
	<control _name="zz_whitmandoor" pos_x="601" pos_y="699" />
	<control _name="rm_clinicreception" pos_x="426" pos_y="699" />
	<control _name="ho_administrator" pos_x="1301" pos_y="699" />
	<control _name="zz_picture" pos_x="1126" pos_y="874" />
	<control _name="zz_couch" pos_x="951" pos_y="874" />
	<control _name="zz_bookcase" pos_x="776" pos_y="874" />
	<control _name="zz_whitmantable" pos_x="601" pos_y="874" />
	<control _name="rm_whitmanoffice" pos_x="426" pos_y="874" />
	<control _name="mg_datatransfer" pos_x="1301" pos_y="874" />
	<control _name="zz_shelving" pos_x="1301" pos_y="1224" />
	<control _name="zz_woodenladder" pos_x="1126" pos_y="1224" />
	<control _name="zz_basementwindow" pos_x="951" pos_y="1224" />
	<control _name="zz_electricalpanel" pos_x="776" pos_y="1224" />
	<control _name="zz_knots" pos_x="601" pos_y="1224" />
	<control _name="rm_basement" pos_x="426" pos_y="1224" />
	<control _name="zz_projector" pos_x="1126" pos_y="1049" />
	<control _name="zz_skeleton" pos_x="951" pos_y="1049" />
	<control _name="zz_cells" pos_x="776" pos_y="1049" />
	<control _name="zz_maze" pos_x="601" pos_y="1049" />
	<control _name="rm_laboratory" pos_x="426" pos_y="1049" />
	<control _name="mg_ratrace" pos_x="1476" pos_y="1049" />
	<control _name="ho_whitmanplan" pos_x="1301" pos_y="1049" />
	<control _name="zz_dadada" pos_x="562" pos_y="291" />
</project>
<project level_dir="D:\work\SI1\exe\assets\levels\levelext\rm_entrypointext">
	<control _name="inv_complex_jacketext" pos_x="191" pos_y="799" />
	<control _name="inv_complex_brokenpumpext" pos_x="191" pos_y="674" />
	<control _name="inv_complex_hookext" pos_x="191" pos_y="549" />
	<control _name="inv_complex_brokensirenext" pos_x="191" pos_y="424" />
	<control _name="inv_complex_brokensolderingironext" pos_x="191" pos_y="299" />
	<control _name="inv_complex_brokenflashlightext" pos_x="191" pos_y="174" />
	<control _name="inv_complex_brokenladderext" pos_x="191" pos_y="49" />
	<control _name="inv_complex_brokendrillext" pos_x="191" pos_y="-76" />
	<control _name="zz_pantryext" pos_x="1191" pos_y="-1" />
	<control _name="zz_counterext" pos_x="1016" pos_y="-1" />
	<control _name="zz_latticedoorext" pos_x="841" pos_y="-1" />
	<control _name="zz_spiceext" pos_x="666" pos_y="-1" />
	<control _name="rm_entrypointext" pos_x="491" pos_y="-1" />
	<control _name="ho_productsext" pos_x="1366" pos_y="-1" />
	<control _name="zz_signext" pos_x="1191" pos_y="174" />
	<control _name="zz_mailboxext" pos_x="1016" pos_y="174" />
	<control _name="zz_hydrantext" pos_x="841" pos_y="174" />
	<control _name="zz_entrancedoorsext" pos_x="666" pos_y="174" />
	<control _name="rm_nearcinemaext" pos_x="491" pos_y="174" />
	<control _name="ho_forgottenparcelsext" pos_x="1366" pos_y="174" />
	<control _name="zz_cinemastandext" pos_x="1191" pos_y="349" />
	<control _name="zz_adsboardext" pos_x="1016" pos_y="349" />
	<control _name="zz_forensicbagext" pos_x="841" pos_y="349" />
	<control _name="zz_cinemadoorext" pos_x="666" pos_y="349" />
	<control _name="rm_incinemaext" pos_x="491" pos_y="349" />
	<control _name="zz_forgottenequipmentext" pos_x="1191" pos_y="524" />
	<control _name="zz_crimesceneext" pos_x="1016" pos_y="524" />
	<control _name="zz_stuffedanimalext" pos_x="841" pos_y="524" />
	<control _name="zz_emergencyexitext" pos_x="666" pos_y="524" />
	<control _name="rm_cinemahallext" pos_x="491" pos_y="524" />
	<control _name="zz_trapext" pos_x="1191" pos_y="699" />
	<control _name="zz_barrelext" pos_x="1016" pos_y="699" />
	<control _name="zz_oldorganext" pos_x="841" pos_y="699" />
	<control _name="zz_behindfenceext" pos_x="666" pos_y="699" />
	<control _name="rm_behindcinemaext" pos_x="491" pos_y="699" />
	<control _name="mg_organext" pos_x="1366" pos_y="699" />
	<control _name="zz_taxiext" pos_x="1191" pos_y="874" />
	<control _name="zz_pointersext" pos_x="1016" pos_y="874" />
	<control _name="zz_ticketofficeext" pos_x="841" pos_y="874" />
	<control _name="zz_drinkingfountainext" pos_x="666" pos_y="874" />
	<control _name="rm_busstationext" pos_x="491" pos_y="874" />
	<control _name="ho_roadext" pos_x="1366" pos_y="874" />
	<control _name="zz_thicketsext" pos_x="1191" pos_y="1049" />
	<control _name="zz_gasstationext" pos_x="1016" pos_y="1049" />
	<control _name="zz_pickupext" pos_x="841" pos_y="1049" />
	<control _name="zz_busext" pos_x="666" pos_y="1049" />
	<control _name="rm_highwayext" pos_x="491" pos_y="1049" />
	<control _name="zz_entrancedoorext" pos_x="1191" pos_y="1224" />
	<control _name="zz_oakext" pos_x="1016" pos_y="1224" />
	<control _name="zz_basementext" pos_x="841" pos_y="1224" />
	<control _name="zz_policefenceext" pos_x="666" pos_y="1224" />
	<control _name="rm_nearhouseext" pos_x="491" pos_y="1224" />
	<control _name="zz_secretsafeext" pos_x="1191" pos_y="1399" />
	<control _name="zz_lumberroomext" pos_x="1016" pos_y="1399" />
	<control _name="zz_mapext" pos_x="841" pos_y="1399" />
	<control _name="zz_fallingboxext" pos_x="666" pos_y="1399" />
	<control _name="rm_artistshouseext" pos_x="491" pos_y="1399" />
	<control _name="ho_cleaningext" pos_x="1366" pos_y="1399" />
	<control _name="mg_antichessext" pos_x="1366" pos_y="349" />
	<control _name="mg_crimescenesext" pos_x="1541" pos_y="1399" />
	<control _name="mg_latchext" pos_x="1541" pos_y="-1" />
</project>
<project level_dir="D:\work\SI1\exe\assets\levels\level\rm_entrypoint">
	<control _name="inv_complex_harpoon" pos_x="24" pos_y="375" />
	<control _name="inv_complex_brokenship" pos_x="24" pos_y="250" />
	<control _name="inv_complex_brokenboltcutter" pos_x="24" pos_y="125" />
	<control _name="inv_complex_briefcase" pos_x="24" pos_y="0" />
	<control _name="inv_complex_control" pos_x="24" pos_y="-125" />
	<control _name="inv_complex_brokenglasscutter" pos_x="24" pos_y="-250" />
	<control _name="inv_complex_playingcard" pos_x="24" pos_y="-375" />
	<control _name="inv_complex_balloon" pos_x="24" pos_y="-1875" />
	<control _name="inv_complex_wallet" pos_x="24" pos_y="-1750" />
	<control _name="inv_complex_panicle" pos_x="24" pos_y="-1625" />
	<control _name="inv_complex_brokenjack" pos_x="24" pos_y="-1500" />
	<control _name="inv_complex_leatherbag" pos_x="24" pos_y="-1375" />
	<control _name="inv_complex_casket" pos_x="24" pos_y="-1250" />
	<control _name="inv_complex_brokenstepladder" pos_x="24" pos_y="-1125" />
	<control _name="inv_complex_bag" pos_x="24" pos_y="-1000" />
	<control _name="inv_complex_brokenswitch" pos_x="24" pos_y="-875" />
	<control _name="inv_complex_brokencane" pos_x="24" pos_y="-750" />
	<control _name="inv_complex_closeddiary" pos_x="24" pos_y="-625" />
	<control _name="inv_complex_brokenrevolver" pos_x="24" pos_y="-500" />
	<control _name="zz_tireswing" pos_x="674" pos_y="-1800" />
	<control _name="zz_cartrunk" pos_x="849" pos_y="-1800" />
	<control _name="zz_understairs" pos_x="1024" pos_y="-1800" />
	<control _name="zz_basementdoor" pos_x="1199" pos_y="-1800" />
	<control _name="zz_policecar" pos_x="1374" pos_y="-1800" />
	<control _name="rm_entrypoint" pos_x="324" pos_y="-1800" />
	<control _name="rm_outro" pos_x="165" pos_y="-3208" />
	<control _name="ho_insidecar" pos_x="499" pos_y="-1800" />
	<control _name="zz_wardrobe" pos_x="499" pos_y="-1625" />
	<control _name="zz_investigationboard" pos_x="674" pos_y="-1625" />
	<control _name="zz_window" pos_x="849" pos_y="-1625" />
	<control _name="zz_desktop" pos_x="1024" pos_y="-1625" />
	<control _name="rm_danaapartment" pos_x="324" pos_y="-1625" />
	<control _name="zz_entrancedoor" pos_x="674" pos_y="-1450" />
	<control _name="zz_entrancedoor_overlay" pos_x="341" pos_y="-3273" />
	<control _name="zz_posters" pos_x="849" pos_y="-1450" />
	<control _name="zz_newspaperbox" pos_x="1024" pos_y="-1450" />
	<control _name="zz_ticketbooth" pos_x="1199" pos_y="-1450" />
	<control _name="rm_nearcinema" pos_x="324" pos_y="-1450" />
	<control _name="zz_sofa" pos_x="849" pos_y="-1275" />
	<control _name="zz_boardads" pos_x="1024" pos_y="-1275" />
	<control _name="zz_bar" pos_x="1199" pos_y="-1275" />
	<control _name="zz_coffeetable" pos_x="1374" pos_y="-1275" />
	<control _name="rm_incinema" pos_x="499" pos_y="-1275" />
	<control _name="ho_insofa" pos_x="674" pos_y="-1275" />
	<control _name="zz_lantern" pos_x="499" pos_y="-1100" />
	<control _name="zz_statues" pos_x="674" pos_y="-1100" />
	<control _name="zz_bush" pos_x="849" pos_y="-1100" />
	<control _name="zz_fence" pos_x="1024" pos_y="-1100" />
	<control _name="rm_nearmansion" pos_x="324" pos_y="-1100" />
	<control _name="zz_boothgardener" pos_x="674" pos_y="-925" />
	<control _name="zz_fountain" pos_x="849" pos_y="-925" />
	<control _name="zz_flowerbed" pos_x="1024" pos_y="-925" />
	<control _name="zz_undertree" pos_x="1199" pos_y="-925" />
	<control _name="rm_garden" pos_x="324" pos_y="-925" />
	<control _name="ho_gardentools" pos_x="499" pos_y="-925" />
	<control _name="mg_pursuit" pos_x="499" pos_y="-1450" />
	<control _name="zz_lamp" pos_x="674" pos_y="-750" />
	<control _name="zz_basket" pos_x="849" pos_y="-750" />
	<control _name="zz_lattice" pos_x="1024" pos_y="-750" />
	<control _name="zz_rockingchair" pos_x="1199" pos_y="-750" />
	<control _name="rm_backyard" pos_x="324" pos_y="-750" />
	<control _name="zz_tapestry" pos_x="674" pos_y="-575" />
	<control _name="zz_secretpassage" pos_x="849" pos_y="-575" />
	<control _name="zz_descentbasement" pos_x="1024" pos_y="-575" />
	<control _name="zz_statuette" pos_x="1199" pos_y="-575" />
	<control _name="rm_hall" pos_x="324" pos_y="-575" />
	<control _name="zz_altar" pos_x="849" pos_y="-400" />
	<control _name="zz_cache" pos_x="1024" pos_y="-400" />
	<control _name="zz_mannequin" pos_x="1199" pos_y="-400" />
	<control _name="zz_oldelevator" pos_x="1374" pos_y="-400" />
	<control _name="rm_chamberofsecrets" pos_x="499" pos_y="-400" />
	<control _name="ho_skeleton" pos_x="674" pos_y="-400" />
	<control _name="ho_tapestryho" pos_x="499" pos_y="-575" />
	<control _name="zz_oldclock" pos_x="849" pos_y="125" />
	<control _name="zz_chest" pos_x="1024" pos_y="125" />
	<control _name="zz_bicycle" pos_x="1199" pos_y="125" />
	<control _name="zz_engine" pos_x="1374" pos_y="125" />
	<control _name="rm_basement" pos_x="499" pos_y="125" />
	<control _name="zz_jackdoor" pos_x="674" pos_y="-225" />
	<control _name="zz_cabinetdoor" pos_x="849" pos_y="-225" />
	<control _name="zz_armchair" pos_x="1024" pos_y="-225" />
	<control _name="zz_telephonetable" pos_x="1199" pos_y="-225" />
	<control _name="rm_secondfloor" pos_x="324" pos_y="-225" />
	<control _name="ho_guitar" pos_x="499" pos_y="-750" />
	<control _name="zz_safe" pos_x="1024" pos_y="-50" />
	<control _name="zz_diorama" pos_x="1199" pos_y="-50" />
	<control _name="zz_cupboard" pos_x="1374" pos_y="-50" />
	<control _name="zz_desk" pos_x="1549" pos_y="-50" />
	<control _name="rm_thompsoncabinet" pos_x="674" pos_y="-50" />
	<control _name="mg_horseracing" pos_x="849" pos_y="-50" />
	<control _name="mg_breaklock" pos_x="499" pos_y="-225" />
	<control _name="mg_riseup" pos_x="674" pos_y="125" />
	<control _name="zz_backdoor" pos_x="1199" pos_y="300" />
	<control _name="zz_fireescape" pos_x="849" pos_y="300" />
	<control _name="zz_car" pos_x="674" pos_y="300" />
	<control _name="zz_vending" pos_x="499" pos_y="300" />
	<control _name="rm_behindcinema" pos_x="324" pos_y="300" />
	<control _name="ho_carbox" pos_x="1024" pos_y="300" />
	<control _name="zz_firebox" pos_x="1024" pos_y="475" />
	<control _name="zz_spectators" pos_x="849" pos_y="475" />
	<control _name="zz_lift" pos_x="674" pos_y="475" />
	<control _name="zz_editingdoor" pos_x="499" pos_y="475" />
	<control _name="rm_cinemahall" pos_x="324" pos_y="475" />
	<control _name="zz_ladder" pos_x="1374" pos_y="650" />
	<control _name="zz_developingroom" pos_x="1024" pos_y="650" />
	<control _name="zz_filecabinet" pos_x="849" pos_y="650" />
	<control _name="zz_guillotine" pos_x="674" pos_y="650" />
	<control _name="zz_managersdoor" pos_x="499" pos_y="650" />
	<control _name="rm_editingroom" pos_x="324" pos_y="650" />
	<control _name="zz_trunk" pos_x="1024" pos_y="1000" />
	<control _name="zz_jukebox" pos_x="849" pos_y="1000" />
	<control _name="zz_commode" pos_x="674" pos_y="1000" />
	<control _name="zz_tabletop" pos_x="499" pos_y="1000" />
	<control _name="rm_sheanscabinet" pos_x="324" pos_y="1000" />
	<control _name="mg_photo" pos_x="1199" pos_y="650" />
	<control _name="zz_camera" pos_x="1024" pos_y="1175" />
	<control _name="zz_shelf" pos_x="849" pos_y="1175" />
	<control _name="zz_armchairs" pos_x="674" pos_y="1175" />
	<control _name="zz_wheel" pos_x="499" pos_y="1175" />
	<control _name="rm_cinemabasement" pos_x="324" pos_y="1175" />
	<control _name="ho_evidence" pos_x="1199" pos_y="1175" />
	<control _name="zz_artistsportrait" pos_x="1199" pos_y="825" />
	<control _name="zz_filmreelcabinet" pos_x="1024" pos_y="825" />
	<control _name="zz_projector" pos_x="849" pos_y="825" />
	<control _name="zz_editingtable" pos_x="674" pos_y="825" />
	<control _name="rm_booth" pos_x="499" pos_y="825" />
	<control _name="ho_show" pos_x="1374" pos_y="825" />
	<control _name="mg_skirmish" pos_x="1374" pos_y="300" />
	<control _name="mg_curtains" pos_x="1199" pos_y="475" />
</project>
<project level_dir="">
</project>
<project level_dir="">
</project>
<project level_dir="">
</project>
<project level_dir="E:\work\Chimeras_11\exe\assets\levels\level\rm_entrypoint">
	<control _name="inv_complex_instruction" pos_x="-5" pos_y="199" />
	<control _name="inv_complex_reticule" pos_x="-5" pos_y="324" />
	<control _name="inv_complex_folio" pos_x="-5" pos_y="449" />
	<control _name="inv_complex_boardinghook" pos_x="-5" pos_y="574" />
	<control _name="inv_complex_partscroll" pos_x="-5" pos_y="699" />
	<control _name="inv_complex_medalion" pos_x="53" pos_y="-306" />
	<control _name="inv_complex_sacvoyage" pos_x="51" pos_y="-233" />
	<control _name="inv_complex_brokenpruner" pos_x="51" pos_y="-108" />
	<control _name="inv_complex_merchantwallet" pos_x="51" pos_y="17" />
	<control _name="inv_complex_brokenjack" pos_x="51" pos_y="142" />
	<control _name="inv_complex_brokenfigure" pos_x="51" pos_y="267" />
	<control _name="inv_complex_brokenball" pos_x="48" pos_y="430" />
	<control _name="inv_complex_samanthabag" pos_x="34" pos_y="524" />
	<control _name="inv_complex_pursesheriff" pos_x="49" pos_y="352" />
	<control _name="inv_complex_foldersheriff" pos_x="47" pos_y="741" />
	<control _name="inv_complex_brokencane" pos_x="41" pos_y="647" />
	<control _name="zz_clock" pos_x="1061" pos_y="-328" />
	<control _name="zz_newsstand" pos_x="939" pos_y="-328" />
	<control _name="zz_tram" pos_x="823" pos_y="-328" />
	<control _name="zz_menbody" pos_x="643" pos_y="-328" />
	<control _name="rm_entrypoint" pos_x="333" pos_y="-330" />
	<control _name="rm_outro" pos_x="157" pos_y="-349" />
	<control _name="ho_investigation" pos_x="504" pos_y="-328" />
	<control _name="zz_doorhouse" pos_x="944" pos_y="-169" />
	<control _name="zz_quartergate" pos_x="755" pos_y="-169" />
	<control _name="zz_sheriffsbike" pos_x="495" pos_y="-173" />
	<control _name="zz_lantern" pos_x="638" pos_y="-169" />
	<control _name="rm_citystreet" pos_x="348" pos_y="-171" />
	<control _name="zz_fireplace" pos_x="615" pos_y="-18" />
	<control _name="zz_chestdrawers" pos_x="746" pos_y="-18" />
	<control _name="zz_worktop" pos_x="1050" pos_y="-18" />
	<control _name="zz_investigationwall" pos_x="887" pos_y="-18" />
	<control _name="rm_housesheriffs" pos_x="336" pos_y="-18" />
	<control _name="mg_sketches" pos_x="492" pos_y="-18" />
	<control _name="zz_wagon" pos_x="719" pos_y="181" />
	<control _name="zz_bulletinboard" pos_x="837" pos_y="181" />
	<control _name="zz_flagstaff" pos_x="595" pos_y="181" />
	<control _name="rm_quarter" pos_x="350" pos_y="181" />
	<control _name="mg_onthewall" pos_x="472" pos_y="177" />
	<control _name="zz_vane" pos_x="896" pos_y="344" />
	<control _name="zz_flowergarden" pos_x="760" pos_y="344" />
	<control _name="zz_well" pos_x="641" pos_y="344" />
	<control _name="zz_cellar" pos_x="1006" pos_y="344" />
	<control _name="rm_nearsamanthahouse" pos_x="316" pos_y="344" />
	<control _name="ho_throughcellar" pos_x="504" pos_y="344" />
	<control _name="zz_stove" pos_x="790" pos_y="463" />
	<control _name="zz_buffet" pos_x="925" pos_y="463" />
	<control _name="zz_magictable" pos_x="661" pos_y="463" />
	<control _name="rm_samanthahouse" pos_x="318" pos_y="463" />
	<control _name="mg_preparation" pos_x="500" pos_y="463" />
	<control _name="ho_samanthastory" pos_x="500" pos_y="580" />
	<control _name="mg_forest" pos_x="519" pos_y="401" />
	<control _name="zz_irongate" pos_x="538" pos_y="665" />
	<control _name="zz_washbasin" pos_x="713" pos_y="665" />
	<control _name="zz_bench" pos_x="888" pos_y="665" />
	<control _name="zz_wood" pos_x="1063" pos_y="665" />
	<control _name="zz_reardoor" pos_x="1238" pos_y="665" />
	<control _name="rm_park" pos_x="363" pos_y="665" />
	<control _name="zz_boxes" pos_x="852" pos_y="828" />
	<control _name="zz_armchair" pos_x="1027" pos_y="828" />
	<control _name="zz_antiquesuitcase" pos_x="1202" pos_y="828" />
	<control _name="zz_rack" pos_x="1377" pos_y="828" />
	<control _name="rm_tradeshop" pos_x="502" pos_y="828" />
	<control _name="ho_merchant" pos_x="677" pos_y="828" />
	<control _name="zz_anothershore" pos_x="882" pos_y="980" />
	<control _name="zz_boat" pos_x="1057" pos_y="980" />
	<control _name="zz_car" pos_x="1232" pos_y="980" />
	<control _name="rm_pond" pos_x="357" pos_y="980" />
	<control _name="mg_bridge" pos_x="707" pos_y="980" />
	<control _name="zz_stoneslab" pos_x="530" pos_y="1091" />
	<control _name="zz_fountain" pos_x="705" pos_y="1091" />
	<control _name="zz_chapeldoor" pos_x="880" pos_y="1091" />
	<control _name="zz_chest" pos_x="1055" pos_y="1091" />
	<control _name="rm_atchapel" pos_x="355" pos_y="1091" />
	<control _name="ho_bushes" pos_x="532" pos_y="980" />
	<control _name="zz_rightdoor" pos_x="768" pos_y="1360" />
	<control _name="zz_stainedglass" pos_x="768" pos_y="1360" />
	<control _name="zz_angel" pos_x="943" pos_y="1360" />
	<control _name="zz_altar" pos_x="1118" pos_y="1360" />
	<control _name="rm_chapel" pos_x="418" pos_y="1360" />
	<control _name="mg_stainedglass" pos_x="593" pos_y="1360" />
	<control _name="zz_ottoman" pos_x="835" pos_y="1220" />
	<control _name="zz_martintable" pos_x="1010" pos_y="1220" />
	<control _name="zz_floorclock" pos_x="1185" pos_y="1220" />
	<control _name="zz_tomb" pos_x="1360" pos_y="1220" />
	<control _name="rm_martinlair" pos_x="485" pos_y="1220" />
	<control _name="ho_martinstory" pos_x="660" pos_y="1220" />
	<control _name="zz_vintagestand" pos_x="943" pos_y="2024" />
	<control _name="zz_window" pos_x="1118" pos_y="2024" />
	<control _name="zz_library" pos_x="1293" pos_y="2024" />
	<control _name="rm_secretroom" pos_x="418" pos_y="2024" />
	<control _name="ho_inlibrary" pos_x="768" pos_y="2024" />
	<control _name="zz_housedoor" pos_x="593" pos_y="2199" />
	<control _name="zz_tobackyard" pos_x="768" pos_y="2199" />
	<control _name="zz_overgrownroses" pos_x="943" pos_y="2199" />
	<control _name="rm_nearmansion" pos_x="418" pos_y="2199" />
	<control _name="mg_onpedestal" pos_x="593" pos_y="2024" />
	<control _name="zz_blood" pos_x="1118" pos_y="2549" />
	<control _name="zz_pavilion" pos_x="1293" pos_y="2549" />
	<control _name="zz_brickbraizier" pos_x="1468" pos_y="2549" />
	<control _name="rm_backyard" pos_x="593" pos_y="2549" />
	<control _name="ho_inpavilion" pos_x="943" pos_y="2549" />
	<control _name="zz_writingdesk" pos_x="943" pos_y="2374" />
	<control _name="zz_oldgramophone" pos_x="1118" pos_y="2374" />
	<control _name="zz_martincasket" pos_x="1293" pos_y="2374" />
	<control _name="rm_attichome" pos_x="768" pos_y="2374" />
	<control _name="zz_showcase" pos_x="768" pos_y="2724" />
	<control _name="zz_glassdoors" pos_x="943" pos_y="2724" />
	<control _name="zz_magazinetable" pos_x="1118" pos_y="2724" />
	<control _name="rm_livingroom" pos_x="418" pos_y="2724" />
	<control _name="zz_corpsebed" pos_x="943" pos_y="2899" />
	<control _name="zz_trellis" pos_x="1118" pos_y="2899" />
	<control _name="rm_victoriaroom" pos_x="418" pos_y="2899" />
	<control _name="ho_normal" pos_x="593" pos_y="2724" />
	<control _name="mg_doors" pos_x="768" pos_y="2899" />
	<control _name="ho_victoriastory" pos_x="593" pos_y="2899" />
	<control _name="mg_metamorphosis" pos_x="768" pos_y="2549" />
</project>
